* {
  box-sizing: border-box;
}
h1 {
  background-color: antiquewhite;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.container {
  display: flex;
  width: 100vw;
}
.panel {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 1;
  margin: 5px;
  position: relative;
  transition: 1.2s;
}
.panel h3 {
  font-size: 24px;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  background-color: rgba(0,0,0,0.43);
  padding: 5px;
  border-radius: 15px;
}
.panel.active {
  flex: 10;
}
.panel.active h3 {
  opacity: 1;
  transition: 1s 1s;
}
@media (max-width: 720px) {
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
